/* wrapper da centrira navbar */
.nav-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* cela traka */
.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  max-width: 900px;

  background-color: #f3ede4;
  padding: 12px 20px;

  border-radius: 40px;
  border: 1px solid #e0d6c8;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* logo */
.logo {
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #5c4633;
}

/* srednji deo */
.nav-center {
  display: flex;
  gap: 10px;
}

/* dugmad */
.nav-btn {
  border: none;
  background: #ebe4d8;

  padding: 8px 16px;
  border-radius: 20px;

  font-size: 14px;
  color: #5c4633;

  transition: 0.2s ease;
}

/* hover efekat */
.nav-btn:hover {
  background: #e0d6c8;
  cursor: pointer;
}

/* login dugme */
.login-btn {
  border: none;
  background: transparent;
  font-weight: 500;
  color: #5c4633;
  padding: 6px 10px;
}